<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marketplace</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<nav>
    <div>
        <a href="/index">Home Page</a>
        <a href="/userInventory">Inventory</a>
        <a href="/logout">Logout</a>
    </div>
</nav>
<h2>Items sold</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Prize</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${itemsSold}">
        <td th:text="${item.getItemName()}"></td>
        <td th:text="${item.getPrize()}"></td>
    </tr>
    </tbody>
</table>
<h2>Items bought</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Prize</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${itemsBought}">
        <td th:text="${item.getItemName()}"></td>
        <td th:text="${item.getPrize()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>